.img-carousel {
    top: 0;
    left: 0;
    position: fixed;
    background-color: #000000b8;
    width: 100%;
    height: 100vh;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    .btn-close {
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        padding-top: 4.8px;
        font-size: 17px;
        background-color: #ffffffb8;
        transition: 0.2s;
        &:hover {
            background-color: #ffffffe0;
        }
    }
    .carousel {
        position: relative;
        overflow: hidden;
        width: 1100px;
        height: 600px;
        z-index: 10;

        .btn {
            position: absolute;
            background-color: rgba(0, 0, 0, 0.5);
            border: 1px solid transparent;
            color: #fff;
            position: absolute;
            margin-top: -25px;
            z-index: 2;
            font-size: 30px;
            width: 45px;
            height: 45px;
        }

        .btn:hover {
            cursor: pointer;
        }

        .btn:focus {
            outline: none;
        }

        .btn-next {
            top: 50%;
            right: 0;
        }

        .btn-prev {
            top: 50%;
            left: 0;
        }

        .carousel-slider {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;

            img {
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
