li.exp-preview {
    display: flex;
    flex-direction: column;
    border: 0.5px solid lightgray;
    border-radius: 8px;
    margin-inline-start: 0.65%;
    margin-inline-end: 0.65%;
    .fade-enter-active {
        overflow: hidden;
        visibility: visible;
        position: relative;
        width: 100%;
        height: 100%;
        opacity: 1;
        animation: leftInAnimation 0.4s linear;
    }
    .fade-leave-to-active {
        animation: leftOutAnimation 0.4s linear;
        overflow: hidden;
        visibility: visible;
        position: relative;
        width: 100%;
        height: 100%;
        opacity: 1;
    }

    .fade-enter {
        overflow: hidden;
        visibility: hidden;
        width: 100%;
        opacity: 0;
    }

    .fade-leave-to {
        overflow: hidden;
        visibility: hidden;
        width: 100%;
        opacity: 0;
    }
    @keyframes leftInAnimation {
        from {
            transform: translateX(100%);
            overflow: hidden;
        }
        to {
            transform: translateX(0%);
            overflow: hidden;
        }
    }
    @keyframes leftOutAnimation {
        from {
            transform: translateX(100%);
            overflow: hidden;
        }
        to {
            transform: translateX(-100%);
            overflow: hidden;
        }
    }
    p {
        line-height: 1.2rem;
    }
    > *:not(:first-child) {
        margin: 0 8px 3.8px 8px;
    }
    .el-icon-star-on:before {
        color: #1e72e0;
        font-size: 1.5rem;
        top: 2.6px;
        position: relative;
    }
    .exp-preview-img {
        margin-bottom: 5px;
        height: 205px; /* You must set a specified height */
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        img {
            @include img-cover-center-grid;
            transition: 0.8s;
            &:hover {
                transform: scale(1.15);
            }
        }
    }
    .arrows-container {
        transform: translateY(-100px);
        position: relative;
        margin: -15px 10px;
        display: flex;
        justify-content: space-between;
        &:hover {
            cursor: pointer;
        }
        .next {
            color: white;
            -webkit-text-stroke: 0.7px black;
            font-size: 20px;
        }
        .prev {
            font-size: 20px;
            color: white;
            -webkit-text-stroke: 0.7px black;
        }
        // & :hover{
        //     cursor: pointer;
        // }
    }
    .exp-preview-type-ticket {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 6px;
        .exp-type {
            font-weight: bold;
            color: #041b38;
        }
        .preview-left {
            font-size: 13px;
            color: #333;
        }
    }
    .exp-preview-desc {
        font-size: 14px;
        min-height: 36px;
        color: #73787d;
    }
    .exp-preview-price-stars-rate {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0.5rem 0.3rem 0.5rem;
        .exp-price {
            font-weight: bold;
            color: #041b38;
        }
        .exp-date {
            font-size: 13px;
            color: #041b38;
            font-weight: bold;
        }
    }
    .exp-preview-title-seller {
        display: flex;
        justify-content: space-between;
        margin-bottom: 8px;
        .preview-seller {
            display: flex;
            flex-direction: column;
            .seller-img {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-bottom: 1px;
                object-fit: cover;
            }
            .preview-creator {
                padding-right: 1rem;
                font-size: 10px;
                padding: 0;
                color: #73787d;
            }
        }
    }
}
