.footer-app {
    border-top: 1px solid black;
    .footer-container {
        display: flex;
        justify-content: space-between;
        padding: 30px 15px;
        max-width: 1200px;
        margin: 0 auto;

        @include for-wide-XL-layout{
            max-width: 980px;

        }
        @include for-wide-layout{
            padding: 19px 15px;
            max-width: 700px;
        }
        @include for-narrow-layout {
            font-size: 12px;
        }
    }
}

