.review-details{
    min-height:80vh ;
    margin-top: 85px;
    display: flex;
    flex-direction: column;
    max-width: 790px;
    margin: 0 auto;
    padding-left: 10px;
    margin-top: 65px;
    padding-top: 10px;
    margin-bottom: 10px;
    .rate-selector{
        margin: 20px 0;
        max-width: 170px;
    }
    .btn-save {
        display: block;
        font-size: 15px;
        width: 120px;
        height: 45px;
        border-radius: 13px;
        padding: 8px 22px;
        margin: 10px 0;
        border: none;
        color: white;
        transition: 0.15s;
        background-color: #1e72e0;
        justify-self: flex-end;
        &:hover {
            background-color: #115aba;
        }
    }
    .btn-back {
        margin-top: 5px;
        font-size: 15px;
        width: 120px;
        height: 45px;
        border-radius: 13px;
        padding: 8px 22px;
        margin-bottom: 5px;
        border: none;
        color: white;
        transition: 0.15s;
        background-color: #b6b7b9;
        justify-self: flex-end;
        &:hover {
            background-color: #3f444b;
        }
    }

}