.user-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 120px auto 0;
    padding: 20px;
    border: 1px solid lightgray;
    box-shadow: 12px 12px 2px 1px #00000026;
    h2 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    form {
        .label-input-container {
            display: flex;
            flex-direction: column;
            height: 80px;
            label {
                line-height: 1.5;
            }
            input {
                padding: 7px 8px;
                font-size: 18px;
                width: 280px;
                border: 1px #504658 solid;
                border-radius: 3px;
                color: #504658;
                &:focus {
                    box-shadow: 0 0 5px #1e72e0;
                    border: 1px solid #1e72e0;
                }
            }
            span {
                font-size: 14px;
                color: red;
                font-style: oblique;
                line-height: 1.5;
            }
        }

        .error {
            input {
                box-shadow: 0 0 5px red;
                border: 1px solid red;
                &:focus {
                    box-shadow: 0 0 5px red;
                    border: 1px solid red;
                }
            }
        }
        input {
            &:focus {
                outline: none;
            }
        }
        .signup-btn {
            background-color: #1e72e0;
            color: white;
            font-size: 20px;
            padding: 7px 9px;
            border-radius: 3px;
            width: 100%;
            margin: 20px 0;
            transition: .15s;
            &:hover {
                background-color: #115aba;
            }
        }
    }
    .cansel {
        color: #1e72e0;
        background-color: unset;
        font-size: 17px;
        line-height: 0.6;
        text-decoration: underline;
        text-align: center;
        transition: .15s;
        &:hover {
           color: #115aba;
        }
    }

   
}
