@font-face {
    font-family: Roboto;
    src: url(~@/assets/fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: PassionBold;
    src: url(~@/assets/fonts/Passion/PassionOne-Bold.ttf);
}
@font-face {
    font-family: PassionRegular;
    src: url(~@/assets/fonts/Passion/PassionOne-Regular.ttf);
}